* {margin:0;padding:0}
.pull-left {float:left}
.pull-right {float:right}
.clearfix {clear:both}
.center {text-align:center}

html, body {height:100%;}
body {color:$color1;font-family: 'Open Sans', sans-serif;background-color:$color2}
a {text-decoration:none}