.container {overflow:hidden;height:100%}

aside {width:230px;background:$color0;position:relative;height:inherit}
.main-menu {margin-top:120px;font-size:26px;font-weight: lighter;}
.main-menu li {margin-bottom:25px;list-style:none}
.main-menu a {color:$menu-default}
.main-menu a:hover {color:$color1}

.copyright {position:absolute;bottom:15px;left:0;right:0;color:rgba($color1, 0.1);font-size:13px;font-weight:lighter}
.copyright img {margin-bottom:20px}

.logo {margin-top:50px;display:inline-block;}

.content {width:auto;float:none;overflow:hidden;}
.repos {color:$color2}
.repos .repo a {display:block;padding:20px 5px;color:$color1;text-decoration:none;text-align:center}
.repo-text {top:50%;left:0;right:0;margin:-15px auto;position:absolute}

@media(max-width:1400px) {
    .is-empty-repo {display:none !important}
    .empty-repo {display:none}
}