body {
  font-size: 1.1875em;
  line-height: 1.421052632em;
}
h1 {
  font-size: 4.210526316em;
  line-height: 1.0125em;
  font-weight: lighter;
}
h2 {
  font-size: 2.631578947em;
  line-height: 1.08em;
  font-weight: lighter;
}
h3 {
  font-size: 1.631578947em;
  line-height: 1.741935484em;
  font-weight: lighter;
}
h4 {
  font-size: 1em;
  line-height: 1.421052632em;
  font-weight: lighter;
}
